body {
   background-image:url("https://www.pastepic.xyz/images/2019/02/11/imagee583e367933a8ce1.png");
   background-repeat: no-repeat;
   background-size: cover;
} 

h1 {
   color: white;
   font-family: Verdana, Arial, sans-serif;
   font-weight: 900;
   font-size: 50px;

}

h2 {
   color: white;
   font-family: Verdana, Arial, sans-serif;
   font-weight: 900;
   font-size: 16px;

}


.button {
   color: white;
   padding: 12px 16px;
   font-size: 16px;
   cursor: pointer;
}

#journalBtn{
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    background-color: #33cccc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}