body {
   background-image:url("https://www.pastepic.xyz/images/2019/02/11/imagee583e367933a8ce1.png");
   background-repeat: no-repeat;
   background-size: cover;
} 

.button {
   color: white;
   padding: 12px 16px;
   font-size: 16px;
   cursor: pointer;
}

h1 {
    color: white;
    font-family: Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 50px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 10px;
}

/*tr:nth-child(even){background-color: #f2f2f2}*/
th:hover {background-color: #e5ccff;}
th,tr {
  background-color: #d9b3ff;
  color: white;
}
table, th, td {
  
    border: 1px solid black;
  }

#addbtn{
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    background-color: #33cccc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


/* The popup form - hidden by default */
.form-popup {
  display: none;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: rgb(77, 36, 129);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #d9b3ff;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}  