body {
   background-color: #71DCFF;
}

h1 {
   color: white;
   font-family: Verdana, Arial, sans-serif;
   font-weight: 900;
   font-size: 50px;

}

h2 {
   color: white;
   font-family: Verdana, Arial, sans-serif;
   font-weight: 900;
   font-size: 16px;

}

span {
  color: white;
  font-family: Verdana, Arial, sans-serif;
  font-weight: 900;
  font-size: 16px;

}

#name_button{
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: white;
  background-color: #8173c4;
  border: none;
}

.button {
   color: white;
   padding: 12px 16px;
   font-size: 16px;
   cursor: pointer;
}

#journalLabel{
  color: white;
}

#journalBtn{
    -webkit-border-radius: 5px;
    border-radius: 15px;
    background-color: Transparent;
    border: 3px solid white;
    color: white;
    padding: 1vw 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    margin: 4px 2px;
    cursor: pointer;
}

#preJournal{
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 10px;
}

th,tr {
  background-color: #8173c4;
  color: white;
}

table, th, td {
    border: #71DCFF;
}

.addbtn {
  -webkit-border-radius: 5px;
  border-radius: 15px;
  background-color: Transparent;
  border: 3px solid white;
  color: white;
  padding: 1vw 2vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1vw;
  margin: 4px 2px;
  cursor: pointer;
}
