body {
   background-image:url("https://lh3.googleusercontent.com/b_RUF103M7y11QQHDXrrLMYqw0Uh71Td2sDH_jbEitD-wfWsTYAJRgwlLUWg5U9b_cKPjIZc5paVgQDKZYCc0fC_J4TC3u7Ktk36Py3moS2Q-2oJJ4CLy85GS10x6_FsXLarBTfH8A=w2400");
   background-repeat: no-repeat;
   background-size: cover;
}

h1 {
   color: white;
   font-family: Verdana, Arial, sans-serif;
   font-weight: 900;
   font-size: 50px;

}

h2 {
   color: white;
   font-family: Verdana, Arial, sans-serif;
   font-weight: 900;
   font-size: 16px;

}


.button {
   color: white;
   padding: 12px 16px;
   font-size: 16px;
   cursor: pointer;
}

#journalBtn{
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #33cccc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#dataButton{
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #33cccc;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#journalSubmitBtn{
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #33cccc;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#preJournal{
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 10px;
}

th,tr {
  background-color: #bf7fff;
  color: white;
}

table, th, td {
    border: 1px solid black;
}
