body {
  background-image:url("https://lh3.googleusercontent.com/b_RUF103M7y11QQHDXrrLMYqw0Uh71Td2sDH_jbEitD-wfWsTYAJRgwlLUWg5U9b_cKPjIZc5paVgQDKZYCc0fC_J4TC3u7Ktk36Py3moS2Q-2oJJ4CLy85GS10x6_FsXLarBTfH8A=w2400");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  color: white;
  font-size: 50px;
}

.leader {
   color: white;
   font-family: Verdana, Arial, sans-serif;
   font-weight: 700;
   font-size: 100px;
}

a {
   color: #ffffff;
   font-size: 25px;
}

#loginbtn, #signupbtn{
   font-size: 500px;
   padding: 200px;
}

.sb {
   color: white;
}

.btn-cancel, .btn-signup{
   width: 80%;
   margin: 5px 0 22px 0;
   display: inline-block;
   background: #f1f1f1;
   background-color: #4CAF50;
 color: white;
 padding: 14px 20px;
 border: none;
 cursor: pointer;
 opacity: 0.9;
}

/* Extra styles for the cancel button */
.btn-cancel, .btn-decline {
   padding: 14px 20px;
   background-color: #f44336;
 }

.btn-cancel:hover, .btn-decline:hover {
   opacity:2;
 }

/* Float cancel and signup buttons and add an equal width */
.btn-cancel, .btn-signup {
   float: left;
   width: 50%;

 }

input[type=username], input[id=hide] {
   width: 100%;
   padding: 15px;
   margin: 5px 0 22px 0;
   display: inline-block;
   border: none;
   background: #f1f1f1;
 }  

/* Set a style for all buttons */
button {
 background-color: #4CAF50;
 color: white;
 padding: 14px 20px;
 margin: 8px 0;
 border: none;
 cursor: pointer;
 width: 50%;
 opacity: 0.9;
}

button:hover {
 opacity:2;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
 float: left;
 width: 50%;
}

/* The Modal (background) */
.modal {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: hsl(281, 37%, 32%);
 padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
 padding: 16px;
 background-color: white;
 margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
 border: 1px solid rgb(102, 54, 141);
 width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
 border: 1px solid #f1f1f1;
 margin-bottom: 25px;
}

/* Clear floats */
.clearfix::after {
 content: "";
 clear: both;
 display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
 .cancelbtn, .signupbtn {
    width: 50%;
 }
} 