body {
   background-image:url("https://lh3.googleusercontent.com/b_RUF103M7y11QQHDXrrLMYqw0Uh71Td2sDH_jbEitD-wfWsTYAJRgwlLUWg5U9b_cKPjIZc5paVgQDKZYCc0fC_J4TC3u7Ktk36Py3moS2Q-2oJJ4CLy85GS10x6_FsXLarBTfH8A=w2400");
   background-repeat: no-repeat;
   background-size: cover;
}

.container {
   color: white;
}

h1 {
    color: white;
    font-family: Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 50px;
}

a {
    color: #ffffff;
}
